<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>kitty-quick-access</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>kitty-quick-access</string>
	<key>CFBundleGetInfoString</key>
	<string>kitty - The fast, feature-rich, GPU based terminal emulator. https://sw.kovidgoyal.net/kitty/</string>
	<key>CFBundleIconFile</key>
	<string>kitty.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.kovidgoyal.kitty-quick-access</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>kitty-quick-access</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.43.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>0.43.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSEnvironment</key>
	<dict>
		<key>KITTY_LAUNCHED_BY_LAUNCH_SERVICES</key>
		<string>1</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.0.0</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>A program running inside kitty would like to access AppleScript.</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>A program running inside kitty would like to access Bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>A program running inside kitty would like to access your calendar data.</string>
	<key>NSCameraUsageDescription</key>
	<string>A program running inside kitty would like to access the camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>A program running inside kitty would like to access your contacts.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2025, Kovid Goyal</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>A program running inside kitty would like to access local network.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<string>A program running inside kitty would like to access your location temporarily.</string>
	<key>NSLocationUsageDescription</key>
	<string>A program running inside kitty would like to access your location information.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>A program running inside kitty would like to access the microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>A program running inside kitty would like to access motion data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A program running inside kitty would like to access your photo library.</string>
	<key>NSRemindersUsageDescription</key>
	<string>A program running inside kitty would like to access your reminders.</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>NO</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Quick access to kitty built from source</string>
			</dict>
			<key>NSMessage</key>
			<string>quickAccessTerminal</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSServiceCategory</key>
				<string>None</string>
			</dict>
		</dict>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>A program running inside kitty would like to access speech recognition.</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>A program running inside kitty requires elevated privileges.</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
</dict>
</plist>
